@charset "utf-8";

:root{
    background-color: #D62828;
    background-color: #6E7271;
    background-color: #1F2041;
    background-color: #3d0814;
    background-color: #ACAD94;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    padding: 10px;
}

.logo{
    width: 25%;
    cursor: pointer;
}

.distancia{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav{
    position: sticky;
    top: 0;


    width: 100%;
    height: 80px;
    background-color: #6E7271;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    margin-bottom: 16px;
}

.menu{
    color: white;
    text-decoration: none;
    padding-right: 30px;
    cursor: pointer;
}


.footer{
    width: 100%;
    height: 100px;
    background-color: #6E7271;
}

p{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}